@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');
@import "react-toastify/dist/ReactToastify.css";

html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;


}